<!-- Order Sheet -->
<div class="container">
    <div class="box" id="buy">
        <div class="col-lg-12 col-md-12 col-xs-12 text-center">
            <h2>우리 페이지는 모바일에 최적화 되어있습니다.<br>
                모바일 기기로 접속해주세요</h2>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<!-- Page CSS -->
<style>
body{
    background: url('../img/strawberry/likeddalgi.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.box {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
{
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
</style>
